/* css reset */

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* Banner section Start */

.banner-container {
  display: flex;
  background: rgba(229, 84, 115, 0.1);
  padding: 50px 240px 0px 240px;
  justify-content: space-between;
  align-items: center;
}

.banner-heading {
  width: 708px;
  color: #272727;
  font-size: 80px;
  font-weight: 700;
}

.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
  display: flex;
  width: 634px;
  margin: 32px 0px;
}

.banner-button {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
}

.banner-image {
  width: 635px;
  height: 800px;
}

/* Banner section ends */

/* Featured flowers section starts */
.featured-flowers {
  margin: 178px 240px 128px 240px;
}

.featured-flowers-headding {
  color: #272727;
  text-align: center;
  font-family: Lato;
  font-size: 40px;
  font-weight: 700;
}

.featured-flowers-description {
  width: 594px;
  margin: auto;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  line-height: 30px;
}

.featured-flowers-img-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 48px;
}

.flower-item-1 {
  background: rgba(167, 33, 98, 0.15);
}

.flower-item-2 {
  background: rgba(5, 151, 160, 0.15);
}

.flower-item-3 {
  background: rgba(71, 125, 17, 0.15);
}

.featured-flowers-item {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  position: relative;
  align-items: center;
}

.featured-flowers-images {
  position: absolute;
  bottom: 0;
}
.featured-flowers-images-1 {
  padding: 0 78px 0 76px;
}

.featured-flowers-images-2 {
  padding: 0 47px 51px 47px;
}
.featured-flowers-images-3 {
  padding: 0 75px;
}

.flower-tree-name {
  display: flex;
  margin-top: 32px;
  justify-content: space-around;
}
.flower-tree-name p {
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;

  border-bottom: 2px solid black;
}
/* Featured flowers section ends */

/* Service section starts  */

.service {
  display: flex;
  width: 1440px;
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  margin: auto;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.service-image {
  width: 88px;
  height: 88px;
}
.service-description {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
  margin-top: 24px;
}

/* Service section ends  */

/* hot deals section starts */
.hot-deal {
  margin-top: 128px;
}
.hot-deal-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 620px;
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
}
.hot-deal-headding {
  color: #272727;
  font-size: 40px;
  font-weight: 700;
}
.hot-deal-span {
  color: #e55473;
}

.hot-deal-description {
  width: 594px;
  color: rgba(39, 39, 39, 0.6);
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin: 24px 0px 32px 0px;
}

.hot-deal-button {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
.hot-deal-header-description-container {
  text-align: center;
}

.hot-deal-image {
  width: 318px;
  height: 420px;
}
/* hot deals section ends */

/* insta section starts */

.instagram-section {
  margin: 128px 240px;
}

.instagram-heading,
.instagram-descriptin {
  text-align: center;
}
.instagram-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.instagram-descriptin {
  width: 594px;
  margin: auto;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.instagram-pictures-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 48px;
  gap: 24px;
}
.istagram-pictures {
  width: 342px;
  height: 396px;
}

/* Insta section end */

/* letest deals section starts here  */

.deals-container {
  background-image: url(../Flower-Asset/Rectangle\ 9.png);
  width: 1440px;
  height: 449px;
  margin: auto;
  border-radius: 8px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.deals-headding {
  color: #272727;
  font-size: 40px;
  font-weight: 700;
}

.deals-descriptions {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
  margin: 16px 0px 48px 0px;
}

#input-email {
  width: 700px;
  border-radius: 8px;
  background: #fff;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  padding: 23px 0px 22px 22px;
  border: none;
}

.deals-button {
  width: 150px;
  height: 64px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  margin: 16px;
}

/* letest deals section ends here  */

/* todays special section  starts*/
.todays-special-section {
  margin: auto;
  text-align: center;
  width: 1440px;
}
.todays-special {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 600px;
  margin: auto;
}

.todays-special-item-image {
  height: 400px;
  width: 300px;
}

.todays-special-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
  margin-top: 120px;
}

.special-section-hr {
  width: 300px;
  margin: auto;
  height: 2px;
  background-color: gray;
}

.todays-special-item-sub-headding {
  color: rgba(12, 12, 12, 0.6);
  font-size: 26px;
  line-height: 36px;
  font-weight: 700;
}
.todays-special-item-price {
  color: rgba(0, 0, 0, 0.9);
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 10px;
}
.todays-special-items-container {
  border: 1px solid gray;
  padding: 10px;
  box-sizing: border-box;
  box-shadow: 15px 15px 15px lightblue;
  margin-top: 30px;
}
.todays-special-button {
  padding: 15px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
}
/* Todays special secton ends */

/* footer sectin starts */

footer {
  margin-top: 128px;
  height: 449px;
  background: #111010;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-heading {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
}

.footer-flower-span {
  color: #e55473;
}

.footer-description {
  text-align: center;
  width: 625px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 0px 32px 0px;
}
.footer-copputight {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
/* footer sectin ends */
