/* css reset */

* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

/* Banner section Start */

.banner-container {
  display: flex;
  background: rgba(229, 84, 115, 0.1);
  padding: 50px 240px 0px 240px;
  justify-content: space-between;
  align-items: center;
}

.banner-heading {
  width: 708px;
  color: #272727;
  font-size: 80px;
  font-weight: 700;
}

.banner-description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
  display: flex;
  width: 634px;
  margin: 32px 0px;
}

.banner-button {
  padding: 20px 43px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: none;
}

.banner-image {
  width: 635px;
  height: 800px;
}

/* Banner section ends */

.instagram-section {
  margin: 128px 240px;
}

.instagram-heading,
.instagram-descriptin {
  text-align: center;
}
.instagram-heading {
  color: #272727;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 24px;
}
.instagram-descriptin {
  width: 594px;
  margin: auto;
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.instagram-pictures-container {
  display: flex;
  margin-top: 48px;
  gap: 24px;
}
.istagram-pictures {
  width: 342px;
  height: 396px;
}

/* Insta section end */

/* deals section starts here  */

.deals-container {
  background-image: url(../Flower-Asset/Rectangle\ 9.png);
  width: 1440px;
  height: 449px;
  margin: auto;
  border-radius: 8px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.deals-headding {
  color: #272727;
  font-size: 40px;
  font-weight: 700;
}

.deals-descriptions {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  line-height: 30px;
  margin: 16px 0px 48px 0px;
}

#input-email {
  width: 700px;
  border-radius: 8px;
  background: #fff;
  color: rgba(39, 39, 39, 0.6);
  font-size: 16px;
  padding: 23px 0px 22px 22px;
  border: none;
}

.deals-button {
  width: 150px;
  height: 64px;
  border-radius: 8px;
  background: #e55473;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  margin: 16px;
}

/* deals section ends here  */

/* footer sectin starts */

footer {
  margin-top: 128px;
  height: 449px;
  background: #111010;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.footer-heading {
  color: #ffffff;
  font-size: 48px;
  font-weight: 800;
}

.footer-flower-span {
  color: #e55473;
}

.footer-description {
  text-align: center;
  width: 625px;
  color: rgba(255, 255, 255, 0.9);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  margin: 24px 0px 32px 0px;
}
.footer-copputight {
  color: rgba(255, 255, 255, 0.4);
  font-size: 16px;
  font-weight: 400;
}
/* footer sectin ends */
